@import 'main.scss';

@keyframes menu-abrir {
  0% {
    left: -50vw;
    background: rgba($negro, 0.7);
    width: 50vw;
  }
  50% {
    left: 0;
    width: 100vw;
  }
  100% {
    left: 0;
    background: rgba($negro, 1);
    width: 50vw;
  }
}

@keyframes menu-cerrar {
  0% {
    left: 0;
    background: rgba($negro, 1);
    width: 50vw;
  }
  50% {
    left: 0;
    width: 100vw;
  }
  100% {
    left: -50vw;
    background: rgba($negro, 0.7);
    width: 50vw;
  }
}

@keyframes menu-cerrar-icono-contenedor-abrir {
  from {
    left: 70%;
    transform: rotateX(360deg);
  }
  to {
    left: 0;
    transform: rotateX(0deg);
  }
}

@keyframes menu-cerrar-icono-contenedor-cerrar {
  from {
    left: 0;
    transform: rotateX(0deg);
  }
  to {
    left: 70%;
    transform: rotateX(360deg);
  }
}

@keyframes menu-cerrar-icono-abrir {
  from {
    color: $negro;
    transform: rotate(90deg);
    transform: scale(0.1);
  }
  to {
    color: $blanco;
    transform: rotate(0deg);
    transform: scale(1);
  }
}

@keyframes menu-cerrar-icono-cerrar {
  from {
    color: $blanco;
    transform: rotate(0deg);
    transform: scale(1);
  }
  to {
    color: $negro;
    transform: rotate(90deg);
    transform: scale(0.1);
  }
}

#masthead {
  @media(max-width: 768px) {
    padding-bottom: 5rem;
  }
  #menu-mobile-abrir-contenedor {
    width: 100%;
    position: fixed;
    background: $negro;
    z-index: 1;
    h1 {
      text-align: center;
      margin-top: -5rem;
      a {
        color: $blanco;
      }
    }
    button {
      border: none;
      padding: 1rem;
      background: none;
      .fa {
        color: $blanco;
        font-size: 4rem;
      }
    }
  }
  .menu-mobile-activo {
    animation-duration: 1s;
    animation-name: menu-abrir;
    left: 0 !important;
  }
  .menu-mobile-inactivo {
    animation-duration: 1s;
    animation-name: menu-cerrar;
  }
  #menu-mobile {
    background: $negro;
    padding: 2rem 0;
    position: fixed;
    width: 50vw;
    height: 100vh;
    z-index: 1;
    left: -50vw;
    #menu-mobile-cerrar {
      position: relative;
      height: 4rem;
      .boton-cerrar-contenedor-abrir {
        animation-duration: 1s;
        animation-name: menu-cerrar-icono-contenedor-abrir;
      }
      .boton-cerrar-contenedor-cerrar {
        animation-duration: 1s;
        animation-name: menu-cerrar-icono-contenedor-cerrar;
      }
      button {
        display: block;
        width: 4rem;
        height: 4rem;
        border: none;
        position: absolute;
        background: none;
        margin-top: -1rem;
        padding-left: 1rem;
        outline: none;
        .boton-cerrar-abrir {
          animation-duration: 1s;
          animation-name: menu-cerrar-icono-abrir;
        }
        .boton-cerrar-cerrar {
          animation-duration: 1s;
          animation-name: menu-cerrar-icono-cerrar;
        }
        .fa {
          color: $blanco;
          font-size: 4rem;
        }
      }
    }
    #menu-mobile-redes {
      position: absolute;
      bottom: 1rem;
      width: 100%;
      nav {
        ul {
          list-style: none;
          padding: 0;
          li {
            display: inline-block;
            margin: -2px;
            width: 33.33333333333333333%;
            text-align: center;
            a {
              font-size: 3rem;
              color: $blanco;
            }
          }
        }
      }
    }
    #menu-mobile-menu {
      a {
        text-align: center;
        display: block;
        padding: 0.5rem 0;
        color: $blanco;
      }
      nav {
        ul {
          list-style: none;
          padding: 0;
          li {
            text-align: center;
            a {
              display: block;
              padding: 0.5rem 0;
              color: $blanco;
            }
          }
        }
      }
    }
  }
  .container {
    #menu-top {
      display: block;
      #logo {
        @media(max-width: 414px) {
          text-align: center;
        }
        .row {
          h1 {
            font-size: $grande * 2;
            a {
              color: $negro;
              &:hover {
                text-decoration: none;
              }
            }
          }
        }
      }
      #redes-sociales {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        nav {
          ul {
            list-style: none;
            li {
              display: inline;
              a {
                color: $gris-oscuro;
                font-size: $grande;
                padding: $grande 0.5rem;
                transition: 0.3s all;
                line-height: $grande * 2;
                &:hover {
                  text-decoration: none;
                  color: $negro;
                  transition: 0.2s all;
                }
              }
            }
          }
        }
      }
      #menu {
        float: left;
        width: 100%;
        .menu-top-container {
          ul {
            list-style: none;
            li {
              display: inline-block;
              a {
                display: block;
                padding: 0.5rem 1rem;
                color: $negro;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}
