@charset 'utf-8';

// Colores
$negro : #3E4040;
$gris-oscuro : #7B7F7F;
$gris-medio : #B9BFBF;
$gris-claro : #DEE5E5;
$blanco : #F6FFFF;

// Fuentes
@import url('https://fonts.googleapis.com/css?family=Montserrat');
$grande : 2.5rem;
$mediano : 1.5rem;
$pequeno : 1rem;
