@import url("https://fonts.googleapis.com/css?family=Montserrat");
#mastwrapper .container h1 { color: #3E4040; }

#mastwrapper .container #programas-contenedor .programa-contenedor { border-bottom: 1px solid #7B7F7F; height: 200px; padding: 2.5rem 0; }
