@import 'main';

#mastwrapper {
  .container {
    h1 {
      color: $negro;
    }
    .programas-contenedor {
      .programas-categoria {
        color: $gris-medio;
        padding: $grande 0;
      }
      .programa-contenedor {
        float: left;
        width: 100%;
        clear: both;
        padding: $grande;
        margin: $grande 0;
        border-bottom: 1px solid $negro;
        &:last-child {
          border: none;
        }
        .programa-logo {
          .row {
            img {
              width: 100%;
              height: auto;
            }
          }
        }
        .programa-info {
          p {
            a {
              color: $negro;
            }
          }
        }
      }
    }
  }
}